body {
    font-family: Arial, sans-serif;
    background-color: hsl(267, 78%, 52%);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #83f297;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #30c03a1a;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
    flex: 1;
}

button {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid hsl(0, 0%, 5%);
}

li button {
    background: red;
    color: #1e1d1d;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}